{% extends "Navbar.html" %}
{% load static %}
{% block head %}
{% comment %} <script>
	$(document).ready(function() {
		$('#example').DataTable( {
			"pagingType": "full_numbers"
		} );
	} );
</script> {% endcomment %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% comment %} <script>
	let now = new Date();
	let hours = now.getHours();
	let minutes = now.getMinutes();
	let currentTime = hours * 60 + minutes;
	if (currentTime < 931 && currentTime > 550) { // 15:31 converted to total minutes (15 * 60 + 31 = 931)
		setTimeout(function () {
			location.href = "/option_chain_analyzer/result";
			//console.log(",,,,,,,,,,,,,,,,,,")
		}, 30000);
	}
</script> {% endcomment %}

{% endblock head %}
{% block body %}
<div class="fullbody" style="background-image: linear-gradient(to bottom, #053359, #ff99cc);color:white;">
{% if messages %} {% for message in messages %}
<div class="alert {{message.tags}} alert-dismissible" role="alert">
	<span type="button" class="close" data-dismiss="alert" aria-label="Close"
	><span aria-hidden="true">&times;</span></span
	>
	{{message}}
</div>
{% endfor %} {% endif %}
	{% comment %} <div class="table-responsive">
<table id="example" class="display table table-hover display" width="100%" cellspacing="0">
		<thead>
			<tr style="color:#FCC9C4">
				<th>Time</th>
				<th>Value</th>
				<th>Index</th>
				<th>Call Sum in K</th>
				<th>Put Sum in K</th>
				<th>Difference in K</th>
				<th>Call Boundary</th>
				<th>Put Boundary</th>
				<th>Call ITM</th>
				<th>Put ITM</th>
				<th>Expiry Date</th>
			</tr>
		</thead>
		<tbody>
			{% for i in chart %}
			<tr>
				<td style="text-align: center;border:2.5px solid white;">{{i.str_current_time}}</td>
				{% if i.old_points_color == "Red" %}
				<td style="background:#F1301D;border:2.5px solid white;text-align: center;border:2.5px solid white;">{{i.points}}</td>
				{% elif i.old_points_color == "Green" %}
				<td style="background:#86FF13;border:2.5px solid white;text-align: center;border:2.5px solid white;">{{i.points}}</td>
				{% else %}
				<td style="text-align: center;border:2.5px solid white;">{{i.points}}</td>
				{% endif %}
				<td style="text-align: center;border:2.5px solid white;">{{i.index}}</td>
				{% if i.old_call_sum_color == "Red" %}
				<td style="background:#F1301D;text-align: center;border:2.5px solid white;">{{i.call_sum}}</td>
				{% elif i.old_call_sum_color == "Green" %}
				<td style="background:#86FF13;text-align: center;border:2.5px solid white;">{{i.call_sum}}</td>
				{% else %}
				<td style="text-align: center;border:2.5px solid white;">{{i.call_sum}}</td>
				{% endif %}
				{% if i.old_put_sum_color == "Red" %}
				<td style="background:#F1301D;text-align: center;border:2.5px solid white;">{{i.put_sum}}</td>
				{% elif i.old_put_sum_color == "Green" %}
				<td style="background:#86FF13;text-align: center;border:2.5px solid white;">{{i.put_sum}}</td>
				{% else %}
				<td style="text-align: center;border:2.5px solid white;">{{i.put_sum}}</td>
				{% endif %}
				{% if i.old_difference_color == "Red" %}
				<td style="background:#F1301D;text-align: center;border:2.5px solid white;">{{i.difference}}</td>
				{% elif i.old_difference_color == "Green" %}
				<td style="background:#86FF13;text-align: center;border:2.5px solid white;">{{i.difference}}</td>
				{% else %}
				<td style="text-align: center;border:2.5px solid white;">{{i.difference}}</td>
				{% endif %}
				{% if i.old_call_boundary_color == "Red" %}
				<td style="background:#F1301D;text-align: center;border:2.5px solid white;">{{i.call_boundary}}</td>
				{% elif i.old_call_boundary_color == "Green" %}
				<td style="background:#86FF13;text-align: center;border:2.5px solid white;">{{i.call_boundary}}</td>
				{% else %}
				<td style="text-align: center;border:2.5px solid white;">{{i.call_boundary}}</td>
				{% endif %}
				{% if i.old_put_boundary_color == "Red" %}
				<td style="background:#F1301D;text-align: center;border:2.5px solid white;">{{i.put_boundary}}</td>
				{% elif i.old_put_boundary_color == "Green" %}
				<td style="background:#86FF13;text-align: center;border:2.5px solid white;">{{i.put_boundary}}</td>
				{% else %}
				<td style="text-align: center;border:2.5px solid white;">{{i.put_boundary}}</td>
				{% endif %}
				{% if i.old_call_itm_color == "Red" %}
				<td style="background:#F1301D;text-align: center;border:2.5px solid white;">{{i.call_itm}}</td>
				{% elif i.old_call_itm_color == "Green" %}
				<td style="background:#86FF13;text-align: center;border:2.5px solid white;">{{i.call_itm}}</td>
				{% else %}
				<td style="text-align: center;border:2.5px solid white;">{{i.call_itm}}</td>
				{% endif %}
				{% if i.old_put_itm_color == "Red" %}
				<td style="background:#F1301D;text-align: center;border:2.5px solid white;">{{i.put_itm}}</td>
				{% elif i.old_put_itm_color == "Green" %}
				<td style="background:#86FF13;text-align: center;border:2.5px solid white;">{{i.put_itm}}</td>
				{% else %}
				<td style="text-align: center;border:2.5px solid white;">{{i.put_itm}}</td>
				{% endif %}
				<td style="text-align: center;border:2.5px solid white;">{{i.expiry_date}}</td>
			</tr>
			{% endfor %}
			</tbody>
			</table> {% endcomment %}
			{% url 'resultAJAX.view' as resultAJAX %} 
			{% include "optionchainchartAJAX.html" with title="title" link=get_data_walk %}
<br>
<center>
	<a class="btn btn-danger" href="/option_chain_analyzer/delete_old_records" onclick="return confirm('Are You Sure?')">Delete old records</a>
	<a class="btn btn-primary" href="/option_chain_analyzer/download_exel" onclick="return confirm('Are You Sure?')">Download exel file</a>
</center>
</br>
<div class="table-responsive">
	<table id="example" class="display table table-hover display" width="100%" cellspacing="0">
		<thead>
			<tr style="color:#373060">
				<th style="text-align: center;font-size: 18px">Index</th>
				<th style="text-align: center;font-size: 18px">Strike Price</th>
				<th style="text-align: center;font-size: 18px">Time</th>
				<th style="text-align: center;font-size: 18px">Expiry date</th>
				<th style="text-align: center;font-size: 18px">Open Interest</th>
				<th style="text-align: center;font-size: 18px">Put ITM</th>
				<th style="text-align: center;font-size: 18px">Put Exits</th>
				<th style="text-align: center;font-size: 18px">Call Itm</th>
				<th style="text-align: center;font-size: 18px">Call Exits</th>
				<th style="text-align: center;font-size: 18px">Put Call Ratio</th>
			</tr>
		</thead>
		<tbody>
			{% for j in chart|slice:":-1" %}
			<tr>
				<td style="border:2.5px solid white;text-align: center;">{{ j.index }}</td>
				<td style="border:2.5px solid white;text-align: center;">{{ j.sp_entry }}
				<td style="border:2.5px solid white;text-align: center;">{{j.str_current_time}}</td>
				<td style="border:2.5px solid white;text-align: center;">{{j.expiry_date}}</td>
				{% if j.oi_label == "Bearish" %}
				<td style="background:#F1301D;border:2.5px solid white;text-align: center;">{{j.oi_label}}</td>
				{% else %}
				<td style="background:#86FF13;border:2.5px solid white;text-align: center;">{{j.oi_label}}</td>
				{% endif %}
				{% if j.put_itm_val == "No" %}
				<td style="background:#F1301D;border:2.5px solid white;text-align: center;">{{j.put_itm_val}}</td>
				{% else %}
				<td style="background:#86FF13;border:2.5px solid white;text-align: center;">{{j.put_itm_val}}</td>
				{% endif %}
				{% if j.put_exits_label == "No" %}
				<td style="background:#F1301D;border:2.5px solid white;text-align: center;">{{j.put_exits_label}}</td>
				{% else %}
				<td style="background:#86FF13;border:2.5px solid white;text-align: center;">{{j.put_exits_label}}</td>
				{% endif %}
				{% if j.call_itm_val == "No" %}
				<td style="background:#F1301D;border:2.5px solid white;text-align: center;">{{j.call_itm_val}}</td>
				{% else %}
				<td style="background:#86FF13;border:2.5px solid white;text-align: center;">{{j.call_itm_val}}</td>
				{% endif %}
				{% if j.call_exits_label == "No" %}
				<td style="background:#F1301D;border:2.5px solid white;text-align: center;">{{j.call_exits_label}}</td>
				{% else %}
				<td style="background:#86FF13;border:2.5px solid white;text-align: center;">{{j.call_exits_label}}</td>
				{% endif %}
				{% if j.put_call_ratio < 1 %}
				<td style="background:#F1301D;border:2.5px solid white;text-align: center;">{{j.put_call_ratio}}</td>
				{% else %}
				<td style="background:#86FF13;border:2.5px solid white;text-align: center;">{{j.put_call_ratio}}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<br>
</div>
{% endblock body %}
