{% extends "Navbar.html" %}
{% load static %}
{% comment %} {% include risk_rs %} {% endcomment %}
{% block body %}
<script>
  function calculateQty() {
      const capitalInput = document.getElementById('capital');
      const riskPercentageInput = document.getElementById('riskPercentage');
      const stoplossInput = document.getElementById('stoploss');

      const entryPriceInput = document.getElementById('entryPrice');
      const percentageSLInput = document.getElementById('percentageSL');

      const capital = parseFloat(capitalInput.value);
      const riskPercentage = parseFloat(riskPercentageInput.value);
      const stoploss = parseFloat(stoplossInput.value);

      const entryPrice = parseFloat(entryPriceInput.value);
      const percentageSL = parseFloat(percentageSLInput.value);
      
      var actualSL = 0.0
      //const capital = parseFloat(prompt("Enter your capital size (in Rs.):"));
      //const capital = document.getElementById('capitalSize').value;
      //const riskPercentage = parseFloat(prompt("Enter the risk percentage on capital for this trade:"));
      //const riskPercentage = document.getElementById('riskOnCapital').value;
      //const stoploss = parseFloat(prompt("Enter the stoploss in points (Rs. per share):"));
      //const entryPrice = parseFloat(prompt("Enter the entry price (Rs. per share):"));
      //const percentageSL = parseFloat(prompt("Enter the stoploss percentage (SL) for this trade:"));

      if (!isNaN(capital) && !isNaN(riskPercentage)) {
          const riskRs = capital * (riskPercentage / 100);
          document.getElementById('capresult').innerHTML = `Your risk for this trade is Rs. ${riskRs.toFixed(2)}`;
          console.log(`Your risk for this trade is Rs. ${riskRs.toFixed(2)}`);

          if (!isNaN(stoploss)) {
              document.getElementById('slresult').innerHTML = `Your stoploss is ${stoploss.toFixed(2)} Rs. per share.`;
              console.log(`Your stoploss is ${stoploss.toFixed(2)} Rs. per share.`);
          } else if (!isNaN(entryPrice) && !isNaN(percentageSL)) {
              actualSL = entryPrice * (percentageSL / 100);
              document.getElementById('slresult').innerHTML = `Your stoploss is Rs. ${actualSL.toFixed(2)} per share.`;
              console.log(`Your stoploss is Rs. ${actualSL.toFixed(2)} per share.`);
          }

          if (!isNaN(stoploss)) {
              const qty = Math.floor(riskRs / stoploss);
              document.getElementById('resultQty').innerHTML = `Trade this quantity to prevent excessive unplanned losses. Quantity: ${qty}, Max Loss: ${(-1 * qty * stoploss).toFixed(2)}`;
              console.log(`Trade this quantity to prevent excessive unplanned losses. Quantity: ${qty}, Max Loss: ${(-1 * qty * stoploss).toFixed(2)}`);
          } else if (!isNaN(entryPrice) && !isNaN(percentageSL)) {
              const qty = Math.floor(riskRs / actualSL);
              document.getElementById('resultQty').innerHTML = `Trade this quantity to prevent excessive unplanned losses. Quantity: ${qty}, Max Loss: ${(-1 * qty * actualSL).toFixed(2)}`;
              console.log(`Trade this quantity to prevent excessive unplanned losses. Quantity: ${qty}, Max Loss: ${(-1 * qty * actualSL).toFixed(2)}`);
          }
      }
  }
  //calculateQty();
</script>

{% comment %} <form id="calculatorForm">
  <label for="capital">Capital Size (in Rs.):</label>
  <input type="number" id="capital" name="capital" min="0">
  <br>
  <label for="riskPercentage">% Risk on Capital for this trade:</label>
  <input type="number" id="riskPercentage" name="riskPercentage" min="0" max="10" step="0.1">
  <br>
  <div class="resultQty" id="capresult"></div>
  <br>

  <label for="stoploss">Stoploss in points (Rs. per share):</label>
  <input type="number" id="stoploss" name="stoploss" min="0" step="0.1">
  <br>
  <div class="resultQty" id="slresult"></div>
  <br>
  <center>
  <h5>--------------or---------------<h5>
    <br>
  </center>
  <label for="entryPrice">Entry Price:</label>
  <input type="number" id="entryPrice" name="entryPrice" min="0">
  <br>

  <label for="percentageSL">% Risk on Capital for this trade:</label>
  <input type="number" id="percentageSL" name="percentageSL" min="0" max="10" step="0.1">
  <br>

  <button type="button" onclick="calculateQty()">Calculate Quantity</button>
  <div class="resultQty" id="resultQty"></div>
</form> {% endcomment %}

<section
class="h-100"
style="background-image: linear-gradient(to bottom, #053359, #ff99cc)"
>
<br>   
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div
              class="card text-black"
              style="
                border-radius: 25px;
                box-shadow: 0 40px 80px -14px rgba(0, 0, 0, 0.9);
                background-color: #ffffea;
              "
            >
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                      Position Size Calculator
                    </p>
                    {% if messages %} {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible" role="alert">
      <span type="button" class="close" data-dismiss="alert" aria-label="Close"
        ><span aria-hidden="true">&times;</span></span
      >
      {{message}}
    </div>
    {% endfor %} {% endif %}
                    <form class="mx-1 mx-md-4" id="calculatorForm">
                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label" for="capital">Capital Size (in Rs.):</label>
                          <input type="number" id="capital" name="capital" class="form-control" min="0">
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <label for="riskPercentage" class="form-label">% Risk on Capital for this trade:</label>
                          <input type="number" id="riskPercentage" name="riskPercentage" class="form-control" min="0" max="10" step="0.1">
                        </div>
                      </div>
                      
                      <h5 style="color:green;" class="form-label" id="capresult"></h5>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <label for="stoploss" class="form-label">Stoploss in points (Rs. per share):</label>
                          <input type="number" id="stoploss" name="stoploss" class="form-control" min="0" step="0.1">
                        </div>
                      </div>

                      <h5 class="form-label" style="color:green;" id="slresult"></h5>
                      
                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <label for="entryPrice" class="form-label">Entry Price:</label>
                          <input type="number" class="form-control" id="entryPrice" name="entryPrice" min="0">
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <label for="percentageSL" class="form-label">% SL:</label>
                          <input type="number" class="form-control" id="percentageSL" name="percentageSL" min="0" max="10" step="0.1">
                        </div>
                      </div>
                      {% comment %} <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example1c"
                            >Expiry Date:</label
                          >
                          <input type="date" class="form-label" id="form3Example1c" name="exp_date">
                        </div>
                      </div> {% endcomment %}
                    
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        {% comment %} <button type="submit" class="btn btn-primary btn-lg">
                          Select Expiry Date
                        </button> {% endcomment %}
                        <button type="button" class="btn btn-primary btn-lg" onclick="calculateQty()">Calculate Quantity</button>
                      </div>

                      {% comment %} <div
                      class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                      >
                      <button onclick="window.location.href='/option_chain_analyzer/refresh'" class="btn btn-danger">
                        Reset Cookies
                        </button>
                        </div>
                        <div
                        class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                        >
                        <button class="btn btn-primary" onclick="window.location.href='/option_chain_analyzer/download_exel'">
                          Download old records
                          </button>
                          </div>
                          <p style="color:red"><b>Records will be updated automatically after every 50 seconds</b></p> {% endcomment %}
                          <h4 class="form-label" style="color:red;" id="resultQty"></h4>
                    </form>
                  </div>
                  <div
                    class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
                  >
                    <img style="border-radius:25px;" src="{% static "imgs/posCalc.jpeg" %}" class="img-fluid" alt="Unison Couture">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </br>
      <br>
    </br>
    </div>
    </section>
  </div>
{% endblock body %}
