{% extends "Navbar.html" %} {% load static %}

{% block body %}
<section
  class="vh-100"
  style="background-image: linear-gradient(to bottom, #053359, #ff99cc)"
>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div
          class="card text-black"
          style="
            border-radius: 25px;
            box-shadow: 0 40px 80px -14px rgba(0, 0, 0, 0.9);
            background-color: #ffffea;
          "
        >
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Stock Screening
                </p>
                {% if invalid %}
                <div class="alert alert-danger" role="alert">{{ invalid }}</div>
                {% endif %}
                <form
                  class="mx-1 mx-md-4"
                  method="POST"
                  action="/stock_screening"
                >
                  {% csrf_token %}
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example2c"
                        >Select Index:</label
                      >
                      <select
                        id="form3Example2c"
                        name="list_index"
                        required
                        class="form-control"
                      >
                        <option value="All Stocks (Default)">
                          'All Stocks (Default)',
                        </option>
                        {% comment %}
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                        {% endcomment %}
                      </select>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c"
                        >Select screening criteria:</label
                      >
                      <select
                        id="form3Example1c"
                        name="list_criteria"
                        required
                        class="form-control"
                      >
                        <option
                          value="0 > Full Screening (Shows Technical Parameters without Any Criteria)"
                        >
                          0 > Full Screening (Shows Technical Parameters without
                          Any Criteria)
                        </option>
                        {% comment %}
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                        {% endcomment %}
                      </select>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">
                      Start Screening
                    </button>
                  </div>
                </form>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img style="border-radius:25px;" src="{% static "imgs/bullBear.png" %}" class="img-fluid" alt="Unison Couture">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
