.navbar a {
	color: #ffffff;
	font-size: 15px;
}

/* ----hero banner-- */

body {
    /* color: #fff; */
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    margin: 0; /* Remove default body margin */
    background-image: linear-gradient(to bottom, #053359, #ff99cc);
}

.banner {
    padding: 6em 0 8em 0;
    text-align: center;
    background-image: url("../imgs/homeBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}

.border {
    width: 60%;
    margin: 0 auto;
    height: 2px; /* Adjusted border height for responsiveness */
    border: 2px solid #fff;
    border-bottom: 0;
}

.banner h2 {
    margin: 0;
    font-size: 3.9em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0.5em 0 0 0;
    line-height: 1; /* Adjusted line height for responsiveness */
}

.banner p {
    color: #FFFFFF;
    font-size: 1.8em; /* Adjusted font size for responsiveness */
    font-weight: bold;
    margin: 1em 0 0 0;
    line-height: 1.5; /* Adjusted line height for responsiveness */
    letter-spacing: 1px; /* Adjusted letter spacing for responsiveness */
    padding: 0 0 2em 0;
}
button {
    background-color: #6A5ACD; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: auto;
    transition-duration: 0.4s; /* Transition duration */
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
    border: 2px solid transparent; /* Transparent border */
    opacity: 0.8;
    
    
}
button:hover {
    background-color: #45a049; /* Darker green on hover */
    border-color: #4CAF50; /* Green border on hover */
    color: white; 
}
@media screen and (max-width: 768px) {
    .banner {
        padding: 4em 0 6em 0; /* Adjusted padding for smaller screens */
    }

    .border {
        width: 80%; /* Adjusted width for smaller screens */
    }

    .banner h2 {
        font-size: 2.5em; /* Adjusted font size for smaller screens */
        letter-spacing: 0.3em; /* Adjusted letter spacing for smaller screens */
    }

    .banner p {
        font-size: 1.2em; /* Adjusted font size for smaller screens */
        letter-spacing: 0.5px; /* Adjusted letter spacing for smaller screens */
    }
}


/* ------card--- */

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin-top: 70px;
}

h1 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: #ecf9ff;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: 	0f0f0f;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1.3rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content1 {
  padding: 1rem;
  background: linear-gradient(to bottom left, #a8a7ab 40%, #6A5ACD 100%);
  height: 15rem;
}
.card_content2 {
	padding: 1rem;
	background: linear-gradient(to bottom left, #b6246e, #e2a9c7);
  height: 15rem;
  }
  .card_content3 {
	padding: 1rem;
	background: linear-gradient(to bottom left, #6eb9fd, #9cd0ff);
  height: 15rem;
  }
  .card_content4 {
	padding: 1rem;
	background: linear-gradient(to bottom left, #a8a7ab 40%, #6A5ACD 100%);
  height: 15rem;
  }
  .card_content5 {
	padding: 1rem;
	background: linear-gradient(to bottom left, #b6246e, #e2a9c7);
  height: 15rem;
  }
  .card_content6 {
	padding: 1rem;
	background: linear-gradient(to bottom left, #6eb9fd, #9cd0ff);
  height: 15rem;
  }

.card_title {
  color: 	#000000;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #00004d;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

/* ---equipments-- */

#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
	left:0;
	height:100%;
    width: 100%;
    background-attachment: fixed;
}
#myCarousel h4{
	font-size:50px;
	margin-bottom:15px;
	color:#FFF;
	line-height:100%;
	letter-spacing:0.5px;
	font-weight:600;
}
#myCarousel p{
	font-size:18px;
	margin-bottom:15px;
	color:#d5d5d5;
}
#myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#myCarousel .container {max-width: 1430px;  }
#myCarousel .carousel-item{height:100%; min-height:550px; }
#myCarousel{position:relative; z-index:1; background:url(https://i.imgur.com/6axE29k.jpg) center center no-repeat; background-size:cover; }

.carousel-control-next, .carousel-control-prev{height:40px; width:20px; padding:9px; top:20%; bottom:auto; transform:translateY(-20%); background-color:#062d66;  margin-top: 290px;}


.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
	opacity: 0;
	-webkit-transition-duration: .6s;
	transition-duration: .6s;
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
	opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
	opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
	.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
	}
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}



/* ---testimonial--- */

.testimonial_section {
  display: block;
  overflow: hidden;
}
.testimonial_section:after {
  display: block;
  clear: both;
  content: "";
}
.testimonial_section .about_content {
  background-color: #020d26;
  padding-top: 77px;
  padding-right: 210px;
  padding-bottom: 62px;
  position: relative;
}
.testimonial_section .about_content .background_layer {
  background-color: #020d26;
  width: auto;
  margin-left: -200px;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.testimonial_section .about_content .layer_content {
  position: relative;
  z-index: 9;
  height: 100%;
}
.testimonial_section .about_content .layer_content .section_title {
  margin-bottom: 24px;
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title:after {
  display: block;
  clear: both;
  content: "";
}
.testimonial_section .about_content .layer_content .section_title h5 {
  color: #fff;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #818a8f;
  margin-top: -5px;
  margin-bottom: 6px;
}
.testimonial_section .about_content .layer_content .section_title h2 {
  font-family: "Titillium Web";
  font-weight: 300;
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 51px;
  margin-bottom: 0px;
  color: #fff;
}
.testimonial_section .about_content .layer_content .section_title h2 strong {
  font-weight: 600 !important;
  width: 100%;
  display: block;
}
.testimonial_section .about_content .layer_content .section_title .heading_line {
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title .heading_line span {
  transition: all 0.5s ease-in-out 0s;
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title .heading_line span:after {
  content: "";
  right: auto;
  left: 69px;
  position: absolute;
  bottom: 28px;
  width: 17px;
  margin-left: 0;
  border-bottom-width: 3px;
  border-bottom-color: #cacaca;
  border-bottom-style: solid;
}
.testimonial_section .about_content .layer_content .section_title .heading_line:after {
  content: "";
  left: 1%;
  margin-left: 0;
  position: absolute;
  bottom: 28px;
  width: 59px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #ff5e14;
}
.testimonial_section .about_content .layer_content .section_title p {
  color: #fff;
  margin: 0 0 15px;
}
.testimonial_section .about_content .layer_content a {
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}
.testimonial_section .about_content .layer_content a i {
  font-size: 18px;
  vertical-align: middle;
}
.testimonial_section .about_content .layer_content a:hover {
  color: #ff5e14;
}
.testimonial_section .testimonial_box {
  margin-top: 60px !important;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container {
  background-color: #ff5e14;
  margin-left: -170px !important;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .background_layer {
  background-color: #ff5e14;
  width: auto;
  margin-right: -200px;
  right: 0;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content {
  position: relative;
  z-index: 9;
  height: 100%;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel {
  display: block;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials {
  margin: 10px 0 10px 0;
  padding: 62px 0px 72px 50px;
  position: relative;
  text-align: center;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  margin-left: 150px;
  margin-top: 69px;
  padding: 45px 40px 45px 40px;
  z-index: 1;
  position: relative;
  background-color: #fff;
  transition: all 0.5s ease-in-out 0s;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption {
  margin-bottom: 15px;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption:after {
  content: "";
  width: 30px;
  display: block;
  height: 2px;
  text-align: center;
  left: 46%;
  margin-top: 6px;
  background-color: #ff5e14;
  position: absolute;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption h6 {
  padding-top: 0;
  margin-bottom: -5px;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  color: #020d26;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption span {
  font-size: 12px;
  color: #9f9f9f;
  margin: 0;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content p {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #5d6576;
  font-style: italic;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img {
  border: none;
  position: absolute;
  top: 0;
  left: 55px;
  top: 80px;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img img {
  border: 5px solid #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  width: 35%;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev {
  position: absolute;
  top: 165px;
  right: 42px;
  border-radius: 0;
  background: #ff5e14;
  display: block;
  outline: 0;
  width: 34px;
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 23px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev:hover {
  background: #020d26;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next {
  position: absolute;
  top: 165px;
  right: 5px;
  border-radius: 0;
  display: block;
  background: #ff5e14;
  outline: 0;
  width: 34px;
  text-align: center;
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 23px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next:hover {
  background: #020d26;
}

@media all and (max-width: 991px) {
  .testimonial_section .about_content {
    padding-right: 15px !important;
  }
  .testimonial_section .about_content .background_layer {
    width: 200% !important;
  }
  .testimonial_section .testimonial_box {
    margin-top: 0 !important;
  }
  .testimonial_section .testimonial_box .background_layer {
    width: 200% !important;
    margin-left: -200px;
  }
  .testimonial_section .testimonial_box .about_content {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: 28% !important;
  }
  .testimonial_section .testimonial_box .testimonial_container {
    margin-left: -15px !important;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials {
    margin: 0px 0 20px 0;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials .testimonial_content {
    margin-left: -36px !important;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials .images_box {
    display: none;
  }
}
.card_image
{
  height: 165px;
}



/* ---footer-- */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  border-radius: 40px;
  margin-top: 45px;
  background:linear-gradient(to bottom, #072761, #084199);
  position: relative;
  opacity: 1;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  /* padding-left: 15px; */
  display: inline-block;
}
.cta-text h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #ffffff;
  font-size: 16px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #ffffff;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}